#  lets talk about different operatos used in python

### ADDITION

In [4]:
print(10 + 5)

15

In [6]:
float1 = 13.65 #float is a number in decimel
float2 = 3.40
print(float1 + float2)

17.05

### Substraction

In [7]:
print(10 - 5)

5

In [8]:
float1 = -18.678
float2 = 3.55
print(float1 - float2)

-22.228

In [9]:
num = 20
flt = 10.5
print(num - flt)

9.5

### Multiplication

In [10]:
                    #MULTIPLICAITON
print(40 * 10)

float1 = 5.5
float2 = 4.5
print(float1 * float2)

400
24.75

### Division

In [12]:
print(40 / 10)

4.0

In [13]:
float1 = 5.5
float2 = 4.5
print(float1 / float2)

1.2222222222222223

In [14]:
print(12.4 / 2)

6.2

In [15]:
                #FLOOR DIVISION
print(43 // 10)

float1 = 5.5
float2 = 4.5
print(5.5 // 4.5)

4
1.0

### Modulo

In [18]:
print(10 % 2) # modulo just give you a remainder

0

In [19]:
twenty_eight = 28
print(twenty_eight % 10)

8

### PRECEDENCE

In [20]:
# Different precedence
print(10 - 3 * 2)  # Multiplication computed first, followed by subtraction

4

In [21]:
# Same precedence
print(3 * 20 / 5)  # Multiplication computed first, followed by division
print(3 / 20 * 5)  # Division computed first, followed by multiplication

12.0
0.75

In [22]:
           # PARANTHESIS
print((10 - 3) * 2)  # Subtraction occurs first
print((18 + 2) / (10 % 8))

14
10.0

### COMPARISION OPERATORS

In [23]:
num1 = 5
num2 = 10
num3 = 10
print(num2 > num1)  # 10 is greater than 5
print(num1 > num2)  # 5 is not greater than 10

True
False

In [24]:
print(num2 is num3)  # Both have the same value
print(num3 is not num1)  # Both have different values

True
True

In [25]:
print(3 + 10 == 5 + 5)  # Both are not equal
print(3 <= 2)  # 3 is not less than or equal to 2

False
False

 ### Assignment operator

In [26]:
num = 10
print(num)

10

In [27]:
num += 5
print(num)

15

In [28]:
num -= 5
print(num)

10

In [29]:
num *= 2
print(num)

20

In [30]:
num /= 2
print(num)

10.0

In [31]:
num **= 2
print(num)

100.0

 ### Bitwise operators

In [32]:
num1 = 10  # Binary value = 01010
num2 = 20  # Binary Value = 10100

In [33]:
print(num1 & num2)  # 00000
print(num1 | num2)  # 11110
print(num1 ^ num2)  # 11110
print(~num1)  # 1111 0101
print(num1 << 3)  # 0101 0000
print(num2 >> 3)  # 0010

0
30
30
-11
80
2